{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "baseUrl": ".",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": false,
            "decorators": false
        },
        "target": "es5",
        "externalHelpers": false
    },
    "module": {
        "type": "commonjs"
    },
    "exclude": ["node_modules", "dist", ".turbo", "eslint.config.mjs"],
    "minify": true
}
